header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #CC7333;
  color: #333;
}

.heading1 {
  font-family: Helvetica, sans-serif;
  font-size: 36px;
  font-variant: small-caps;
  color: #333;
}

.heading2 {
  font-family: Helvetica, sans-serif;
  font-size: 26px;
  font-variant: small-caps;
  font-weight: 700;
  color: #333;
}

.heading3 {
  font-family: Helvetica, sans-serif;
  font-size: 20px;
  font-variant: small-caps;
  color: #333;
}

main {
  flex-grow: 1;
  padding: 20px;
}

body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
} 

.button {
  background-color: #CC7333;
  color: #fff; /* white */
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  display:flex;
  border-radius: 10px;
  flex-direction: column;
  height: 300vh;
  background-color: #333;
}

.sidebar {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
}

.login-form {
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;
}

.login-form form {
  padding: 20px;
  border-radius: 10px;
  background-color: #CC7333;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.login-form button {
  width: 100%;
  padding: 20px;
  background-color: antiquewhite;
  color: #333;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-form p {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}

.login-form p a {
  color: #333;
  text-decoration: none;
}

.race-list {
  height: 300px;
  overflow-y: auto;
  border: 5px solid #333;
  padding: 20px;
  border-radius: 10px;
}

.driver-list {
  height: 300px;
  overflow-y: auto;
  border: 5px solid #333;
  padding: 20px;
  border-radius: 10px;
}

.race-date {
  font-style: oblique;
}

.flag {
  width: auto;
  height: 30px;
  margin-right: 10px;
  mask-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.photo {
  width: 50px;
  height: 100px;
  margin-right: 10px;
}
