<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <h1 class="heading1"> Lucy's App</h1>
    <form method="post" action="{% url 'login' %}">
        <!-- {% csrf_token %} -->
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br>
        <input type="submit" value="Login">
    </form>
    <button class="button">Register</button>

    <!-- Info and things to see without being logged in -->
    <div class="container">
        <div class="sidebar">
            <div class="race-list">
                <!-- Embedded scroll window with race information -->
                <div class="race-item {% if race.is_next_race %}next-race{% endif %}">
                    <span class="race-date"> {{ race.date }} </span>
                    <span class="heading2"> {{ race.track_name }} </span>
                    <span> {{ race.country}} </span>
                    <img src="{{ race.country_flag_url }}" alt="{{ race.flag }}">
                </div>
            </div>
            <div class="driver-list">
                <!-- List of drivers with names, teams, and photos -->
                <span> {{ driver.name }} </span>
                <span class="heading2"> {{ driver.id }} </span>
                <span> {{ driver.team}} </span>
                <img src="{{ driver.driver_portrait_url }}" alt="{{ driver.photo }}">
            </div>
        </div>
        <div class="login-form">
          <!-- Login form goes here -->
        </div>
    </div> 
</body>
</html>
